.home-posts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 150px;
  }
  
  .post {
    display: flex;
    gap: 100px;
  }
  
  .post:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
  
  .post-img {
    flex: 2;
    position: relative;
  }
  
  .post-img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: -1;
  }
  
  .post-img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  .post-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post-title {
    font-size: 48px;
  }
  
  .post-desc {
    font-size: 18px;
  }
  
  .post-button {
    width: max-content;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    border: 1px solid teal;
    color: teal;
  }
  
  .post-button:hover {
    border: 1px solid white;
    background-color: lightgreen;
    color: black;
  }
  